form {
  justify-content: space-between;
  margin: 1em auto;
  border-radius: 2rem;
  box-shadow: 0 2px 8px rgb(0, 0, 0, 0.25);
  max-width: 50%;
  min-width: 20rem;
  background-color: rgb(255, 255, 136);
  padding: auto;
  display: block;
}

.content {
  padding: 1rem;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.customBtn {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: #000000;
  color: white;
  padding: 0.75rem 3rem;
  margin: 0.75rem;
  justify-content: center;
  border-radius: 25px;
  font-weight: bold;
  display: block;
}

.buttons {
  display: flex;
  justify-content: center;
}

label {
  margin: 1rem;
}

.passBtn {
  max-width: 3px !important;
  background-color: transparent;
  color: #000000;
  font-weight: lighter;
  font-size: small;
  padding: 0;
}
